.chat-main
  .main-header
    .main-header__left-box
      %p.main-header__left-box__now-group
        = @group.name
        %ul.main-header__left-box__now-group__member-list
          Member:
          %li.main-header__left-box__now-group__member-list__member
            - @group.users.each do |user|
              = user.name
    .main-header__edit-btn
      -# = link_to  @group.edit, class: "main-header__edit-btn__edit-btn" do
      -#   edit
      = link_to edit_group_path(@group.id), class: "main-header__edit-btn__edit-btn" do
        edit

  .messages
    = render @messages
    
  .form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message' 
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image', class: 'icon')     
          = f.file_field :image, class: 'input-box__image__file'          
      = f.submit 'Send', class: 'submit-btn'
     